mixin postView(title,name,content,created,_id)
    h3 Book Title: #{title}
        h4 Author: #{name}
        p Summary: #{content}
        p id: #{_id}
        p created: #{created}
    a.btn.btn-primary(href="/edit?_id="+_id role = "button") Edit
    include confirmation.pug
    form(action = "/delete?_id="+_id method ="post")
        +confirmation("Are you sure you want to delete","Delete")
